# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# keep if you want lockfile; remove this line if you prefer to commit it

# Next.js
.next
out
.vercel
.turbo

# Build artifacts / coverage
dist
coverage

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Env & local data
.env
.env.local
.env.*.local

# SQLite (local dev DB)
dev.db
*.sqlite
*.db

# Prisma generated client cache
node_modules/.prisma/
